*.C text eol=crlf
*.H text eol=crlf
*.ASM text eol=crlf
*.INC text eol=crlf
*.MSG text eol=crlf
*.MAK text eol=crlf
*.BAT text eol=crlf
*.SKL text eol=crlf
*.LNK text eol=crlf
*.EQU text eol=crlf
*.INF text eol=crlf
*.TXT text eol=crlf
*.INI text eol=crlf
*.DEF text eol=crlf
*.CHG text eol=crlf
*.CMP text eol=crlf
*.DEF text eol=crlf
*.DOC text eol=crlf
MAKEFILE* text eol=crlf
LOCSCR* text eol=crlf
ZERO.DAT* text eol=crlf
